spring.application.name=AA-History

# PostgreSQL
spring.datasource.url=${DB_SOURCE_URL}
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=${DB_NAME}
spring.datasource.password=${DB_PASSWORD}

# JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
spring.jpa.open-in-view=false

# JWT
jwt.secret=${JWT_SECRET}
jwt.expiration=${EXPIRATION}

# Mail
spring.mail.host=${MAIL_HOST}
spring.mail.port=${MAIL_PORT}
spring.mail.username=${MAIL_NAME}
spring.mail.password=${MAIL_PASSWORD}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

# Password Reset
app.frontend.url=${PASS_WORD_RESET}
app.password-reset.expiration-hours=${PASS_EXPIRATION}

# Server
server.port=${SERVER_PORT}
